$bgColor:#913F61;


body {
   
    
     background-color:#1C1C1C;
    
        color:#eee;
    font-size:1.5rem;
    font-family:'Open Sans','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fun{
    color:#E09721;
    margin-top:1.5rem;
    font-size:90%;
}
a,a:hover{
    color:#fff;
}


.glance-box{
     
          background-color: #262626;
    border: 1px solid #333;
    

    border-radius: 10px;
    margin: 1rem 1rem 0.5rem;
    padding: 10px 0px;
   color:#eee;
   h2{
    margin-top:10px;
    padding-left:2.2rem;
   
    color:#E09721;
    
}

    li{
        margin-top:.7rem;
        font-size:1.3rem;
       line-height:1.8;
       padding-left:2.1rem;
       padding-right:1rem;
        i{
            font-style:normal;
            text-decoration:underline;
        }
    }

    li:before{
         font-family: 'Glyphicons Halflings';
          left: 0px;
          position:relative;
          top:2px;
          font-size:110%;
          color:#08b109;
          padding-right:.7rem;
          padding-left:1rem;
        content:"\e013";
        
    }
}

address{
    display:inline;
    font-size:1rem;
        padding-left:1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
   margin-bottom:4rem;
   
}

.navbar-bubeat {
            background-color: $bgColor;
    .navbar-header {
        font-weight:400;
        text-align:center;
        .navbar-toggle {
            float:none;
            background-color: $bgColor;
            margin:0;
        }
    }
    .mobile-title{
        font-size:1.75rem;
    margin-top:0;
    padding-left:2rem;
    font-weight:bold;
    
   text-align:left;

        span{
        font-size:.95rem;
        color:white;
        font-weight:normal;
    }
    }
}
.nav > li > a:focus, .nav > li > a:hover {
    text-decoration:underline;
    background-color: $bgColor;
}

.title{
   font-size:2rem;
    margin-top:0;
    padding-left:2rem;
    padding-top:.7em;
    font-weight:bold;
    
   text-align:left;

    
    padding-bottom:1rem;

    em{
        font-style:normal;
        font-weight:normal;
        font-size:1.5rem;
    }
    span{
        font-size:.95rem;
        color:white;
        font-weight:normal;
    }
}

.tagline{
    display:block;
    width:80%;
    padding:.5rem 0;
    margin:0 auto;
    /*font-weight:bold;*/
    /*background-color:#c78926;*/
    font-size:3.5rem;

    color:#353C42;
    color:#eee;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tagline2{
font-size:1.85rem;
}

@media(max-width:768px)
{
    .tagline {
        font-size:2.5rem;
    }

    .tagline2
    {
        font-size:1.3rem;
    }
}

.demoBtn{
    display:block;
    margin:0 10%;
    margin-top:2rem;
    background-color: #842424;
    border: 2px solid #111;
    border-radius:15px;
    font-size: 3.75rem;
    padding: 2rem;
    text-shadow: -1px 1px #6b566d

}

.btn .focus, .btn:focus, .btn:hover{
    color:white;
}
.demoBtn:hover{
         background-color: #d53434;
        color:white;
}

.coming-soon{
    text-align:center;
    margin-top:2rem;
    font-style:normal;
    display:block;
}



.container-fluid{

}

footer{
  
    font-size:1.2rem;
    
    margin:2rem auto;
    text-align:center;

    width: 100%;
} 

form{
    background-color:#000;
    margin-top:3rem;
    margin-left:1rem;
    border-radius:5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:normal;
        padding:2rem;
    font-size:14px;
    h2{
        text-align:center;
        margin:0;
        margin-bottom:1rem;
        font-size:1.8rem;
        color:#E09721;
        line-height:1.5;
    }
    .asterisk{
        color:#ea0000;
        font-style:italic;
        font-weight:normal;
        font-size:1.2rem;
    }

    .mce_inline_error{
    background-color:#e0b7b7;
    }
}