$btnColor:#68a41c;
$btnBorderColor:#68a41c;
$textColor:#555;

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400|Roboto);
@import "flaticon.css";
@import "font-mfizz.css";



.ggg{
    vertical-align:auto;
}

body {
    color:$textColor;
    margin:10px;
    background-color:#F2FFFE;
    font-size:1.5em;
    font-family:'Open Sans','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.logo{
       margin-bottom:3rem;
       padding:10px 0;
       margin-top:60px;
       text-align:center;
   }

header{
   margin-bottom:4rem;
     
   text-align:center;

   p{
       font-size:2.5rem;
       color:#808080;
   }

   h1{
    font-size:4rem;
    
    }
}


/*.commerce{
        color:#00527f;
    }

    .jobs{
        color:#d18103;
    }

    .crowd{
        color:#930032;
    }

    .auction{
        color:#418e00;
    }*/

.languages {

    font-size:3rem;
    li{
        margin-right:20px;
    }
    
}

.profile{
    .icon{
        font-size:12rem;
        display:block;
    }
    font-size:110%;
    text-align:center;
    padding-bottom:40px;
    .ex{
        display:block;
        font-size:80%;
        color:#808080;
    }

    
}

a,a:hover{
    //color:#fff;
}

.newsletter{
  
    border-radius:10px;
    padding:20px 20px;
    margin-top:20px;
    //margin-bottom:20px;
    button{
        font-size:2rem;
        margin:-6px;
        margin-top:-8px;
        font-weight:bold;
        border-radius:0;
        border:2px solid $btnBorderColor;
    }

    .form-control{
       width:60%;
       height:43px;
        display:inline;
       border-radius:0;
       border:2px solid $btnBorderColor;
    }
}

.btn-primary, .btn-primary:hover{
    background-color:$btnColor;    
}

.btn-primary:hover,.btn-primary:active,.btn-primary:focus{
    border-color:$btnBorderColor;
}

address{
    display:inline;
    font-size:1rem;
        padding-left:1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.nav > li > a:focus, .nav > li > a:hover {
    text-decoration:underline;
    //background-color: $bgColor;
}
.navbar-nav > li > a {
    padding-bottom:0;
}






@media(max-width:768px)
{
    .tagline {
        font-size:2.5rem;
    }

    .tagline2
    {
        font-size:1.3rem;
    }
}



footer{
  
    font-size:1.2rem;
    
    margin:3rem auto;
    text-align:center;

    width: 100%;
} 


.white-bg{
    background-color:#fff;
    padding:5px;
    border:1px solid #bebebe;
    border-radius:2px;
  //  box-shadow:2px 2px 5px #cfcfcf ;
}

.faq {
    margin-bottom:30px;

    h2{
        font-size:2.3rem;
        margin-bottom:20px;
        font-weight:bold;
        margin-top:55px;
        text-align:center;
        color:$btnColor;
    }

    p{
        color:#6D6D6D;
        padding:0px 30px;
        font-size:1.7rem;
        line-height:1.5;
    }

    .what-is{
        p{
            width:80%;
        }
        
        h2{
            color:$textColor;
        }

        margin-bottom:70px;
    }
}

.error{
    color:#b40101;
}


@media(max-width:768px)
{
    .newsletter{

        .form-control{
            width:100%;
        }
        button{
            margin-top:-1px;
            margin-left:0;
            display:block;
            width:100%;
            text-align:center;
        }
    }
}
